langchain
langchain-community
langchain-huggingface
langchain-openai
chromadb
pypdf
python-dotenv
pysqlite3-binary
playwright
beautifulsoup4
streamlit
zhipuai
httpx
fastapi
uvicorn
langgraph
langchain-chroma
requests
